<header class="global-header" aria-label="<%= t("global_header.navigation_aria") %>">
  <nav class="global-header__items">
    <%= link_to news_index_path, class: [ "global-header__item", "global-header__item--icon", ("global-header__item--unread" if unread_news?(character)) ].compact.join(" "), title: t("global_header.news"), aria: { label: t("global_header.news") } do %>
      <%= cultivation_icon(:bell) %>
    <% end %>

    <%= link_to character_path(character), class: "global-header__item", title: t("global_header.character_info"), aria: { label: t("global_header.character_info") } do %>
      <%= cultivation_icon(:scroll) %>
      <span><%= t("global_header.name_and_realm", name: character.name, realm: character.realm, star: character.star) %></span>
    <% end %>

    <%= link_to character_path(character), class: "global-header__item", title: t("global_header.health"), aria: { label: t("global_header.health") } do %>
      <%= cultivation_icon(:spark) %>
      <span><%= t("global_header.health_value", current: number_with_delimiter(character.current_health_points), max: number_with_delimiter(character.health)) %></span>
    <% end %>

    <%= link_to inventory_path, class: "global-header__item", title: t("global_header.gear_score"), aria: { label: t("global_header.gear_score") } do %>
      <%= cultivation_icon(:satchel) %>
      <span><%= number_with_delimiter(character.gear_score) %></span>
    <% end %>

    <%= link_to spirit_expedition_path, class: "global-header__item", title: t("global_header.currency"), aria: { label: t("global_header.currency") } do %>
      <%= cultivation_icon(:coin) %>
      <span><%= number_with_delimiter(character.currency) %></span>
    <% end %>

    <%= link_to spirit_expedition_path, class: "global-header__item", title: t("global_header.donation_currency"), aria: { label: t("global_header.donation_currency") } do %>
      <%= cultivation_icon(:jade) %>
      <span><%= number_with_delimiter(character.donation_currency) %></span>
    <% end %>

    <% if expedition_countdown(character) %>
      <%= link_to spirit_expedition_path, class: "global-header__item", title: t("global_header.expedition"), aria: { label: t("global_header.expedition") } do %>
        <%= cultivation_icon(:lantern) %>
        <span><%= expedition_countdown(character) %></span>
      <% end %>
    <% end %>

    <%= link_to sparring_path, class: "global-header__item", title: t("global_header.sparring_focus"), aria: { label: t("global_header.sparring_focus") } do %>
      <%= cultivation_icon(:sword) %>
      <span><%= t("shared.sparring_points_count", current: character.sparring_points, max: character.max_sparring_points) %></span>
    <% end %>

    <%= link_to sparring_path, class: "global-header__item", title: t("global_header.sparring_timer"), aria: { label: t("global_header.sparring_timer") } do %>
      <%= cultivation_icon(:clock) %>
      <span><%= sparring_recovery_countdown(character) %></span>
    <% end %>
  </nav>
</header>
